<header class="header">
  <div class="header-main">
    <div class="container-fluid">
      <a href="#" class="header-brand">
        <img class="header-brand-image" src="https://design.axa.com/toolkit/images/axa.svg">
      </a>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <!--<svg class="img-responsive main__map" width="969" height="525" xmlns="http://www.w3.org/2000/svg">
         <g>
          <title>background</title>
          <rect fill="#fff" id="canvas_background" height="527" width="971" y="-1" x="-1"/>
          <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
           <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
          </g>
         </g>
         <g>
          <title>Layer 1</title>
          <ellipse ng-repeat="table in tables track by $index" ry="{{table.radius}}" rx="{{table.radius}}" id="svg_20" cy="{{table.cy}}" cx="{{table.cx}}" stroke-width="1.5" stroke="#103184" fill="{{table.online?'#3054ae':'#ff0000'}}"/>
         </g>
        </svg>-->

<svg  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
	 width="1190.55px" height="841.89px" viewBox="0 0 1190.55 841.89" enable-background="new 0 0 1190.55 841.89"
	 xml:space="preserve">
<polygon fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" points="515.58,276 515.58,218.4 992.801,218.4 
	992.801,476.457 812.905,650.563 379.364,650.563 198.78,475.423 198.78,276 "/>
<rect x="230.444" y="548.393" transform="matrix(0.7201 0.6939 -0.6939 0.7201 466.825 -46.0148)" opacity="0.38" width="120.001" height="14.387"/>
<rect x="854.176" y="533.993" transform="matrix(-0.723 0.6908 -0.6908 -0.723 1949.0166 300.9684)" opacity="0.38" width="120" height="14.387"/>
<path opacity="0.38" d="M576.151,189.6v28.8h-27.886c0,0,2.145-9.6,12.871-19.2C571.861,189.6,576.151,189.6,576.151,189.6z"/>
<path opacity="0.38" d="M520.38,189.6v28.8h27.886c0,0-2.145-9.6-12.87-19.2C524.67,189.6,520.38,189.6,520.38,189.6z"/>
<path opacity="0.38" d="M724.951,189.6v28.8h-27.886c0,0,2.146-9.6,12.87-19.2C720.661,189.6,724.951,189.6,724.951,189.6z"/>
<path opacity="0.38" d="M669.18,189.6v28.8h27.886c0,0-2.145-9.6-12.87-19.2C673.47,189.6,669.18,189.6,669.18,189.6z"/>

<g ng-repeat="table in tables track by $index">

<g ng-if="!table.isWinning">
	<g>
		<path fill="#312783" d="M650.9,430.55H521.439c-3.118,0-5.67-2.551-5.67-5.669V408.77c0-3.118,2.552-5.669,5.67-5.669H650.9
			c3.118,0,5.67,2.551,5.67,5.669v16.111C656.57,427.999,654.019,430.55,650.9,430.55z"/>
		<polygon fill="#312783" points="531.414,424.45 529,455.666 550.97,421.4 		"/>
	</g>
	<rect x="534.67" y="411.5" fill="none" width="153.6" height="19.2"/>
	<text transform="matrix(1 0 0 1 534.6699 420.02)" fill="#FFFFFF" font-family="'MyriadPro-Bold'" font-size="12">Team {{ table.name }}</text>
	<g>
		<polygon fill="#FFDE00" points="516.92,386.668 519.057,389.761 522.044,387.48 523.12,391.081 526.666,389.835 526.577,393.593 
			530.335,393.503 529.089,397.05 532.69,398.126 530.409,401.113 533.502,403.25 530.409,405.387 532.69,408.374 529.089,409.45 
			530.335,412.997 526.577,412.907 526.666,416.665 523.12,415.419 522.044,419.02 519.057,416.739 516.92,419.832 514.783,416.739 
			511.796,419.02 510.72,415.419 507.174,416.665 507.263,412.907 503.505,412.997 504.751,409.45 501.149,408.374 503.431,405.387 
			500.338,403.25 503.431,401.113 501.149,398.126 504.751,397.05 503.505,393.503 507.263,393.593 507.174,389.835 510.72,391.081 
			511.796,387.48 514.783,389.761 		"/>
		<g>
			<rect x="511.658" y="393.44" fill="#27348B" width="10.09" height="6.726"/>
			<circle fill="#27348B" cx="516.703" cy="400.167" r="5.045"/>
			<path fill="none" stroke="#27348B" stroke-miterlimit="10" d="M520.447,395.954h3.689v4.037c0,0,0.061,0.104-1.18,0.557
				c-1.239,0.453-3.023-0.244-3.023-0.244L520.447,395.954z"/>
			<path fill="none" stroke="#27348B" stroke-miterlimit="10" d="M512.764,395.954h-3.689v4.037c0,0-0.061,0.104,1.18,0.557
				c1.239,0.453,3.023-0.244,3.023-0.244L512.764,395.954z"/>
			<rect x="509.481" y="409.076" fill="#27348B" width="14.443" height="4.335"/>
			<rect x="512.583" y="410.356" fill="#F6F6F6" width="8.24" height="1.712"/>
			<path fill="#27348B" d="M522.01,409.288c0,0-2.464-0.146-3.248-1.459c-0.783-1.314-0.672-3.095-0.672-3.095h-2.773
				c0,0,0.111,1.781-0.672,3.095c-0.784,1.313-3.248,1.459-3.248,1.459l0.588,1.08h7.7L522.01,409.288z"/>
		</g>
	</g>
</g>

<g ng-if="$index % 2 == 0">
	<defs>
		<rect id="{{ 'rect_a_' + $index }}" x="{{table.cx}}" y="{{table.cy - table.radius}}" width="{{ table.radius * 2 }}" height="{{ table.radius * 2 }}"/>
	</defs>
	<clipPath id="{{ 'clip_a_' + $index }}">
		<use xlink:href="{{ '#rect_a_' + $index }}"  overflow="visible"/>
	</clipPath>
	<circle clip-path="{{ 'url(#clip_a_' + $index + ')'}}" fill="#335AA6"  stroke-width="1.5" stroke="{{table.online?'#309640':'#ff0000'}}" cy="{{table.cy}}" cx="{{table.cx}}" r="{{table.radius}}"/>
</g>
<g ng-if="$index % 2 == 1">
	<defs>
		<rect id="{{ 'rect_a_' + $index }}" x="{{table.cx - table.radius * 2}}" y="{{table.cy - table.radius}}" width="{{ table.radius * 2 }}" height="{{ table.radius * 2 }}"/>
	</defs>
	<clipPath id="{{ 'clip_a_' + $index }}">
		<use xlink:href="{{ '#rect_a_' + $index }}"  overflow="visible"/>
	</clipPath>
	<circle clip-path="{{ 'url(#clip_a_' + $index + ')'}}" fill="#335AA6" stroke-width="1.5" stroke="{{table.online?'#309640':'#ff0000'}}"  cy="{{table.cy}}" cx="{{table.cx}}" r="{{table.radius}}"/>
</g>
</g>
<!--<g>
	<defs>
		<rect id="SVGID_5_" x="801.691" y="293.707" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_6_">
		<use xlink:href="#SVGID_5_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_6_)" fill="#335AA6" cx="801.404" cy="320.42" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_7_" x="745.805" y="293.707" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_8_">
		<use xlink:href="#SVGID_7_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_8_)" fill="#335AA6" cx="799.518" cy="320.42" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_9_" x="894.268" y="293.707" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_10_">
		<use xlink:href="#SVGID_9_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_10_)" fill="#335AA6" cx="893.98" cy="320.42" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_11_" x="838.381" y="293.707" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_12_">
		<use xlink:href="#SVGID_11_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_12_)" fill="#335AA6" cx="892.094" cy="320.42" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_13_" x="875.844" y="405.876" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_14_">
		<use xlink:href="#SVGID_13_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_14_)" fill="#335AA6" cx="875.557" cy="432.589" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_15_" x="819.957" y="405.876" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_16_">
		<use xlink:href="#SVGID_15_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_16_)" fill="#335AA6" cx="873.67" cy="432.589" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_17_" x="782.691" y="474.416" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_18_">
		<use xlink:href="#SVGID_17_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_18_)" fill="#335AA6" cx="782.404" cy="501.129" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_19_" x="726.805" y="474.416" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_20_">
		<use xlink:href="#SVGID_19_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_20_)" fill="#335AA6" cx="780.518" cy="501.129" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_21_" x="756.538" y="385.819" width="53.426" height="53.425"/>
	</defs>
	<clipPath id="SVGID_22_">
		<use xlink:href="#SVGID_21_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_22_)" fill="#335AA6" cx="756.251" cy="412.532" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_23_" x="700.651" y="385.819" width="53.426" height="53.425"/>
	</defs>
	<clipPath id="SVGID_24_">
		<use xlink:href="#SVGID_23_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_24_)" fill="#335AA6" cx="754.364" cy="412.532" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_25_" x="699.69" y="536.082" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_26_">
		<use xlink:href="#SVGID_25_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_26_)" fill="#335AA6" cx="699.403" cy="562.795" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_27_" x="643.804" y="536.082" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_28_">
		<use xlink:href="#SVGID_27_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_28_)" fill="#335AA6" cx="697.517" cy="562.795" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_29_" x="672.115" y="443.311" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_30_">
		<use xlink:href="#SVGID_29_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_30_)" fill="#335AA6" cx="671.828" cy="470.023" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_31_" x="616.229" y="443.311" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_32_">
		<use xlink:href="#SVGID_31_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_32_)" fill="#335AA6" cx="669.941" cy="470.023" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_33_" x="673.41" y="355.532" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_34_">
		<use xlink:href="#SVGID_33_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_34_)" fill="#335AA6" cx="673.123" cy="382.245" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_35_" x="617.523" y="355.532" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_36_">
		<use xlink:href="#SVGID_35_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_36_)" fill="#335AA6" cx="671.236" cy="382.245" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_37_" x="581.935" y="450.678" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_38_">
		<use xlink:href="#SVGID_37_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_38_)" fill="#335AA6" cx="581.647" cy="477.391" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_39_" x="526.048" y="450.678" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_40_">
		<use xlink:href="#SVGID_39_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_40_)" fill="#335AA6" cx="579.761" cy="477.391" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_41_" x="575.958" y="359.665" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_42_">
		<use xlink:href="#SVGID_41_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_42_)" fill="#335AA6" cx="575.672" cy="386.378" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_43_" x="520.072" y="359.665" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_44_">
		<use xlink:href="#SVGID_43_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_44_)" fill="#335AA6" cx="573.785" cy="386.378" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_45_" x="566.858" y="547.666" width="53.425" height="53.426"/>
	</defs>
	<clipPath id="SVGID_46_">
		<use xlink:href="#SVGID_45_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_46_)" fill="#335AA6" cx="566.571" cy="574.379" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_47_" x="510.971" y="547.666" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_48_">
		<use xlink:href="#SVGID_47_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_48_)" fill="#335AA6" cx="564.684" cy="574.379" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_49_" x="426.038" y="542.537" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_50_">
		<use xlink:href="#SVGID_49_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_50_)" fill="#335AA6" cx="425.75" cy="569.25" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_51_" x="370.151" y="542.537" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_52_">
		<use xlink:href="#SVGID_51_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_52_)" fill="#335AA6" cx="423.864" cy="569.25" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_53_" x="467.924" y="443.311" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_54_">
		<use xlink:href="#SVGID_53_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_54_)" fill="#335AA6" cx="467.637" cy="470.023" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_55_" x="412.037" y="443.311" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_56_">
		<use xlink:href="#SVGID_55_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_56_)" fill="#335AA6" cx="465.75" cy="470.023" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_57_" x="472.506" y="350.749" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_58_">
		<use xlink:href="#SVGID_57_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_58_)" fill="#335AA6" cx="472.219" cy="377.461" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_59_" x="416.62" y="350.749" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_60_">
		<use xlink:href="#SVGID_59_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_60_)" fill="#335AA6" cx="470.333" cy="377.461" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_61_" x="389.324" y="382.819" width="53.426" height="53.425"/>
	</defs>
	<clipPath id="SVGID_62_">
		<use xlink:href="#SVGID_61_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_62_)" fill="#335AA6" cx="389.037" cy="409.532" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_63_" x="333.437" y="382.819" width="53.426" height="53.425"/>
	</defs>
	<clipPath id="SVGID_64_">
		<use xlink:href="#SVGID_63_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_64_)" fill="#335AA6" cx="387.15" cy="409.532" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_65_" x="367.191" y="476.832" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_66_">
		<use xlink:href="#SVGID_65_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_66_)" fill="#335AA6" cx="366.904" cy="503.545" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_67_" x="311.304" y="476.832" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_68_">
		<use xlink:href="#SVGID_67_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_68_)" fill="#335AA6" cx="365.017" cy="503.545" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_69_" x="262.884" y="427.681" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_70_">
		<use xlink:href="#SVGID_69_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_70_)" fill="#335AA6" cx="262.597" cy="454.394" r="27"/>
</g>
<g>
	<defs>
		<rect id="SVGID_71_" x="206.997" y="427.681" width="53.426" height="53.426"/>
	</defs>
	<clipPath id="SVGID_72_">
		<use xlink:href="#SVGID_71_"  overflow="visible"/>
	</clipPath>
	<circle clip-path="url(#SVGID_72_)" fill="#335AA6" cx="260.71" cy="454.394" r="27"/>
</g>-->
</svg>




      </div>
    </div>
  </div>
</div>
